<div class="nav-items">
    <div class="nav-item">
        <span><i class="fa-solid fa-gauge"></i>Dashboard</span>
    </div>
    <div class="nav-item">
        <span><i class="fa-solid fa-users"></i>Employees</span>
    </div>
    <div class="nav-item">
        <span><i class="fa-solid fa-diagram-project"></i>Projects</span>
    </div>
    <div class="nav-item">
        <span><i class="fa-solid fa-user-plus"></i>Clients</span>
    </div>
    <div class="nav-item">
        <span><i class="fa-solid fa-code-branch"></i>Departments</span>
    </div>
</div>