<div class="widget-container">
    <div class="widget first">
        <div class="icon">
            <i class="fa-solid fa-cubes"></i>
        </div>
        <div class="value">
            <div class="top">120</div>
            <div class="bottom">Projects</div>
        </div>
    </div>
    <div class="widget second">
        <div class="icon">
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
        <div class="value">
            <div class="top">55</div>
            <div class="bottom">Clients</div>
        </div>
    </div>
    <div class="widget third">
        <div class="icon">
            <i class="fa-solid fa-users"></i>
        </div>
        <div class="value">
            <div class="top">218</div>
            <div class="bottom">Employees </div>
        </div>
    </div>
    
</div>