<div class="main-container">
    <h2>Task Statistics</h2>
    <div class="Completed-task">
        <h4>Completed Task</h4>
        <mat-progress-bar class="myprogressbar" mode="determinate" value="66"></mat-progress-bar>
    </div>
    <div class="inprogress-task">
        <h4>Inprogress Task</h4>
        <mat-progress-bar mode="determinate" value="33"></mat-progress-bar>
    </div>
    <div class="pending-task">
        <h4>Pending Task</h4>
        <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
    </div>
    <div class="review-task">
        <h4>Review Task</h4>
        <mat-progress-bar mode="determinate" value="5"></mat-progress-bar>
    </div>
</div>
